<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Searched Results</title>
  </head>
  <body>
    <div class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Screenshot Keeper!</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="/index">Home <span class="sr-only">(current)</span></a>
          <a class="nav-item nav-link" href="/pictures">Saved Screenshots</a>
          <a class="nav-item nav-link" href="/input">Add New</a>
        </div>
      </div>
    </nav>
    {% for term in searched_terms %}
    <p>{{term.file_name}} - {{term.category}}</p><img src="{{url_for('file', filename=term['screenshot'])}}" height = 200px>
    {% endfor %}
    </div>
  </body>
</html>
